.registration_form_errors {
    color: red;
    display: none;
}

.registration-form-errors {
    display: none;
    color: red;
}

.registration-container {
    display: block;
    height: 626px;
    width: 100%;
}

div.registration-form-invisible {
    width: 350px;
    margin: 0 auto;
}

div.registration-form-visible {
    background-color: #383535;
    padding: 25px 20px 25px 20px;
}

.registration-input {
    display: block;
    height: 32px;
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    color: #cccccc; /*цвет шрифта в обычном состоянии*/
    font-size: 18px; /*Размер шрифта*/
    font-family: Tahoma; /* Стиль шрифта*/

    background: #282828 !important;
    outline: none;
    resize: none;
    border: 1px solid transparent;

}

.registration-input-incorrect {
    border-color: red;
}

.registration-input:focus {
    color: #ffe7e7;
    border: 1px solid #ffff95;
}

.btn {
    position: relative;
    float: right;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    border: 1px solid transparent;
    background: #0c57e2;

    color: #cccccc;
    font-size: 18px; /*Размер шрифта*/
    font-family: Tahoma; /* Стиль шрифта*/
    text-align: center;
    cursor: pointer;
}

.brd-rad-med {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.brd-rad-min {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.btm-elem {
    margin-bottom: 0px;
}